@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0px;
  padding: 0px;
}

.area-container {
    box-sizing: border-box;
    padding: 30px 85px 30px 85px;
}

.area-nav {
    display: flex;
    justify-content: space-between;
}

.area-text {
    font-size: 20px;
    color: white;
    margin: 0.5rem 0rem;
}

.area-text-section {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.area-content {
    display: flex;
}

.area-heading {
    font-size: 50px;
    color: white;
}

.area-title {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 10px 0px 30px 0px;
}

.area-agenda {
    max-width: 100%;
}

#area-select {
    width: 1000px;
    height: 40px;
    margin: 1.5em 0em 0em 0em;
    border-radius: 10px;
}

.area-p {
    font-size: 20px;
    margin: 20px 200px 10px 0px;
}

.area-flex {
    display: flex;
}

#area-select2 {
    width: 299px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
}

.area-button2 {
    width: 392px;
    height: 50px;
    border-radius: 10px;
}

.area-armazzen {
    display: flex;
    justify-content: space-between;
}

.area-p-armazzen {
    margin: 45px 0px 15px 0px;
}

.area-p-armazzen2 {
    margin: 0px;
    font-size: 35px;
}

.area-card {
  width: 320px;
  height: 220px;
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 2px #F02F35;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
    color: #F02F35;
    font-size: 60px;
}

#img {
    max-width: 100%;
    width: 511px;
    height: 322px

}
.area-button3{
    width: 15rem;
    border: #F02F35 solid 0.2rem;
    background-color: #1e1e1e;
    border-radius: 2rem;
}
.a2{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
