.plan-container {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
  }
  
  .plan-name {
    margin-bottom: 0;
  }
  
  .price {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .feature {
    margin: 10px 0;
  }
  h2{
    color: #fff;
    font-size: 50px;
    margin: 35px 0px 15px 0px;
  }
  .recommended {
    background-color: #1db954;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
body{
  background-color: #201f20;
}
.row{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 48px;
}
.titulo{
  text-align: center;
}
.container{
  align-items: center;

}
@media screen and (max-width: 720px) {
  .row {
    flex-direction: column;
  }

  .row {
    margin-left: 0;
    margin-bottom: 32px;
  }
}

.preto{
  color: black;

}