div .content-sob{
    padding: 20px 85px 30px 85px;
    background-color: #721582;
}

div .container-sob {
    display: flex;
}

div .container-sob img {
    height: auto;
    max-width: 100%;
}

.chamariz  {
 font-size: 100px;
 margin: 0;
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}

h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 15px;
}

p {
    color: white;
    margin-bottom: 30px;
    font-size: 35px;
}

.alinh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1250px) {
    .container-sob img {
      display: none;
    }
  }