@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0px;
  padding: 0px;
}

div .home-container {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  min-height: 900px;
  margin: 0rem auto;
  padding: 0px 85px 30px 85px;

}

nav img {
  margin-top: 25px;
  width: 100px;
  height: 100px;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #1E1E1E;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}
.navbar-menu-container {
  display: none;
}

.navbar-links-container {
  display: flex;
  align-items: center;
}

.navbar-links-container a {
  margin-right: 8rem;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.primary-button {
  margin-right: 4rem;
  padding: 0.9rem 1.75rem;
  background-color: #1e1e1e;
  outline: none;
  border: solid 2px #721582;
  border-radius: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color: white;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(82, 34, 88);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-text-section {
  display: block;
}

.primary-heading {
  font-size: 4em;
  color: white;
  /* line-height: 5rem; */
  max-width: 700px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: white;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #7E9DF4;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button:hover {
  background-color: #721582;
}



@media (max-width: 1550px) {
  .navbar-links-container a {
    margin-right: 4.5rem;
    font-size: 1.3rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 1250px) {
  .navbar-links-container a {
    margin-right: 1.4rem;
    font-size: 1.3rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .home-banner-container img {
    display: none;
  }  
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }

  .App {
    max-width: 100vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}